*{
    padding: 0;
    margin: 0;
}
header{
    margin: 50px auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
div{
    border-radius: 50%;
    background: #fff;
    border: 3px solid #000;
}
/*兔子简笔画*/
.face{
    width: 150px;
    height: 90px;
    margin: 100px auto 0;
    position: relative;
    border-radius: 93px 95px 40px 40px;
}
.hair_first{
    width: 20px;
    height: 17px;
    border-radius: 46%;
    position: relative;
    top: -2px;
    left: 16px;
    border: 1px solid #000; 
    background: #aaebff;
}
.hair_second{
    width: 11px;
    height: 13px;
    position: relative;
    top: -18px;
    left: 29px;
    border: 1px solid #000;
    background: #aaebff;
}
.hair_third{
    width: 21px;
    height: 20px;
    position: relative;
    top: -36px;
    left: 36px;
    border: 1px solid #000;
    background: #aaebff;
}
.ear_right{
    width: 20px;
    height: 50px;
    position: absolute;
    top: -30px;
    right: 0px;
    z-index: -1;
    transform: rotatez(30deg);
    animation: ear_animation 4s linear infinite backwards;
}
.ear_left{
    width: 20px;
    height: 50px;
    position: absolute;
    top: -30px;
    left: 40px;
    z-index: -1;
    transform: rotatez(30deg);
    animation: ear_animation 4s linear infinite backwards;
    -webkit-animation: ear_animation 4s linear infinite backwards;
    -moz-animation: ear_animation 4s linear infinite backwards;
}
/*耳朵动画效果*/
@keyframes ear_animation{
    0% {
        transform: rotatez(30deg);
    }
    25% {
        transform: rotatez(15deg);
    }
    50% {
        transform: rotatez(30deg);
    }
    75% {
        transform: rotatez(45deg);
    }
    100% {
        transform: rotatez(30deg);
    }
}
@-webkit--moz-keyframes ear_animation{
    0% {
        -webkit--moz-transform: rotatez(30deg);
    }
    25% {
        -webkit--moz-transform: rotatez(15deg);
    }
    50% {
        -webkit--moz-transform: rotatez(30deg);
    }
    75% {
        -webkit--moz-transform: rotatez(45deg);
    }
    100% {
        -webkit--moz-transform: rotatez(30deg);
    }
}
@-moz-keyframes ear_animation{
    0% {
        -moz-transform: rotatez(30deg);
    }
    25% {
        -moz-transform: rotatez(15deg);
    }
    50% {
        -moz-transform: rotatez(30deg);
    }
    75% {
        -moz-transform: rotatez(45deg);
    }
    100% {
        -moz-transform: rotatez(30deg);
    }
}
/*耳朵动画效果结束*/
.eye_right{
    width: 15px;
    height: 25px;
    position: absolute;
    top: 30px;
    right: 10px;
    transform: rotatez(-15deg);
    background: #000;
    z-index: 999;
    
}
.eye_left{
    width: 15px;
    height: 25px;
    position: absolute;
    top: 30px;
    left: 10px; 
    transform: rotatez(15deg);
    background: #000;
    z-index: 999;
}
.eye_inner{
    width: 5px;
    height: 5px;
    position: relative;
    top: 5px;
    left: 5px;
    border: 1px solid #000;
}
.nose{
    width: 12px;
    height: 12px;
    border-radius: 0px;
    position: absolute;
    top: 41px;
    left: 66px;
    transform: rotatez(-45deg);
    border-width: 0px 0px 3px 3px;
}
.nose_b{
    width: 10px;
    height: 9px;
    border-radius: 0px;
    position: absolute;
    top: 56px;
    left: 72px;
    border-width: 0px 0px 0px 3px;
}
.face_red_l{
    width: 25px;
    height: 17px;
    background: #f88;
    border: 0px;
    position: relative;
    top: -5px;
    left: 5px;
    transform: rotatez(15deg);
}
.face_red_r{
    width: 25px;
    height: 17px;
    background: #f88;
    border: 0px;
    position: relative;
    top: -22px;
    right: -120px;
    transform: rotatez(-15deg);
}
.belly{
    width: 90px;
    height: 90px;
    margin: -60px auto 0px;
    position: relative;
    left: 5px;
    z-index: -1;
    border-radius: 500% 70% 100px 100px;
    background: #ffc233;
}
.hand_right{
    width: 20px;
    height: 50px;
    position: relative;
    top: -65px;
    right: -110px;
    z-index: -1;
    transform: rotatez(-30deg);
}
.hand_left{
    width: 20px;
    height: 50px;
    position: relative;
    top: -120px;
    left: 28px;
    z-index: -2;
    transform: rotatez(30deg);
}
.foot_right{
    width: 17px;
    height: 30px;
    position: relative;
    top: -134px;
    right: -46px;
    z-index: -2;
    transform: rotatez(90deg);
}
.foot_left{
    width: 20px;
    height: 30px;
    position: relative;
    top: -169px;
    left: 81px;
    z-index: -2;
    transform: rotatez(90deg);
}
/*兔子简笔画结束*/
/*原图展示*/
.pic{
    width: 180px;
    height: 200px;
    margin:100px auto;
    border-radius:0px;
    border: 0px;
    background: url(../img/rabbit.png) no-repeat;
}