body{
    background: #fff;
    background-attachment: fixed;
}
header{
    background: #fff;
}
nav a{
    color: #555;
}
.more{
    color: #000;
}
#img-logo{
    width: 270px;
    height: 129px;
    background: url(../image/bd_logo1.png) no-repeat;
    background-size: 270px 129px;
    margin: 0 auto;
}